/*
  This is a slightly modified default Pico theme. Needs a complete rewrite. 
*/
/*
  Variables
*/
/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/
/* Reset Styles
/*---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: #2a2c2b;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* HTML5 tags */
header,
section,
footer,
aside,
nav,
article,
figure {
  display: block;
}
article {
  overflow: auto;
}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
  padding: 5px;
  font: 400 1em Verdana, Sans-serif;
  color: #666;
  background: #fff;
  border: 1px solid #999999;
  margin: 0 0 1em 0;
}
input:focus,
textarea:focus,
select:focus {
  color: #080a09;
  background: #fff;
  border: 1px solid #666666;
}
/* Main Styles
/*---------------------------------------------*/
body {
  font: 1.2em 'Yantramanav', Helvetica, Arial, Helvetica, sans-serif;
  color: #444;
  background: #2a2c2b;
  -webkit-font-smoothing: antialiased;
}
a,
a:visited {
  color: #4A89DC;
  text-decoration: none;
}
a:hover,
a:active {
  color: #080a09;
  text-decoration: underline;
}
a:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: #2a2c2b;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}
h2 {
  margin-bottom: 1.2em;
}
a.pilcrow,
a.pilcrow:visited {
  color: #b2b4b3;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
a.pilcrow:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #080a09;
  text-decoration: none;
}
h1,
article h2 {
  font-size: 2.5em;
}
@media (max-width: 800px) {
  h1,
  article h2 {
    font-size: 2em;
  }
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 2em;
  margin-top: 1.4em;
}
h4 {
  font-size: 1.5em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
ol,
ul {
  padding-left: 30px;
  margin-bottom: 1em;
  margin-left: 1em;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}
td,
td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
code {
  font-family: Courier, "Courier New", Monaco, Tahoma;
  background: #eee;
  color: #333;
  padding: 0px 2px;
}
pre {
  background: #eee;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
}
blockquote {
  font-style: italic;
  margin: 2em 0 0 15px;
  padding-left: 10px;
  padding-bottom: 0;
  border-left: 5px solid #dddddd;
}
blockquote p {
  padding-top: 0;
  padding-bottom: 0;
}
blockquote.twitter-tweet,
iframe {
  display: block;
  margin: 3em auto;
}
iframe[id^="twitter-widget"] {
  padding: 1em 0 !important;
}
hr {
  border-top: solid 1px #dfdfdf;
  border-bottom: none;
  margin: 3em auto 1em;
  max-width: 90%;
}
center {
  padding: 2em 0;
}
.centered {
  display: block;
  margin: 0 auto;
}
img.centered {
  display: block;
  margin: 3em auto;
  max-width: 100%;
}
.float-right,
.float-left {
  max-width: 410px;
}
.float-right {
  float: right;
  padding-left: 30px;
}
.float-left {
  float: left;
  margin-right: 2em;
  padding-left: 0 !important;
}
img.main-banner {
  margin: 10px 0 10px 50px;
}
div.all-tags {
  text-align: justify;
}
div.all-tags a {
  padding: 0 0.2em;
}
div#breadcrumbs-wrapper {
  background-color: #2a2c2b;
}
div#breadcrumbs {
  padding: 1em;
  background-color: #2a2c2b;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
@media only screen and (max-width: 910px) {
  div#breadcrumbs {
    display: none;
  }
}
@media only screen and (min-width: 910px) {
  div#breadcrumbs-wrapper.sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
  }
}
div#breadcrumbs a {
  color: #fff;
}
/* Structure Styles
/*---------------------------------------------*/
.inner {
  max-width: 900px;
  margin: 0 auto;
}
#header {
  padding: 50px 0 0;
  color: #5D9CEC;
}
#header a {
  color: #5D9CEC;
}
#header h1 a,
#header a:hover {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1em;
}
#header a {
  padding-bottom: 8px;
}
#header a:hover {
  border-bottom: 3px solid #F5F5F5;
}
#header a,
#header a:hover {
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}
#header h1 a:hover {
  text-decoration: none;
}
#header h1 {
  font-weight: bold;
  margin: 0;
  float: left;
}
li.active a {
  border-bottom: 3px solid #F5F5F5;
}
label.cursor-pointer {
  cursor: pointer;
}
#menu-toggle {
  display: none;
  /* hide the checkbox */
}
#header #menu-icon {
  display: none;
  color: #fff;
  font-size: 2em;
  padding-top: 5px;
  width: 36px;
  height: 24px;
}
#header nav {
  float: right;
  list-style: none;
  margin: 0.3em 0 0;
  padding: 0;
}
#header nav li {
  margin-left: 20px;
}
#header nav a {
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
}
#header a:checked#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
#header ul {
  list-style: none;
  padding-top: 10px;
}
#header li {
  display: inline-block;
  float: left;
}
form#search-form {
  margin: 5em auto 0;
  width: 100%;
}
form#search-form input {
  padding: 0.7em 5px;
  width: 100%;
}
#content {
  background-color: #fff;
  padding: 50px 0 100px;
  font-size: 1.2em;
  line-height: 1.3em;
}
#footer {
  padding: 40px 0;
  color: #C0C0C0;
}
#footer a {
  color: #fff;
  font-weight: bold;
}
#footer a:hover {
  color: #fff;
}
#footer p {
  text-align: justify;
}
/* Misc Styles
/*---------------------------------------------*/
div.search-instructions,
p.search-instructions {
  font-style: italic;
}
p.search-instructions code {
  font-style: normal;
}
div.search-item {
  border-top: 1px solid #eee;
  padding: 2em 0 1em;
}
div.search-item p.meta,
div.meta p.last-updated {
  font-style: italic;
}
div.meta p.last-updated {
  font-size: 0.9em;
}
p.screenshot {
  padding: 0 0 1.5em;
  margin: 2px;
}
@media only screen and (min-width: 910px) {
  p.screenshot {
    max-width: 45%;
    padding: 0 0 35px;
  }
}
p.screenshot img {
  border: 1px solid #efefef;
}
@media only screen and (min-width: 910px) {
  p.screenshot.float-right {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 910px) {
  p.screenshot.float-left {
    padding-right: 30px;
  }
}
.lazy-load,
.lazy-loaded {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.lazy-loaded {
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 1;
}
@media only screen and (min-width: 800px) {
  div.search-thumbnail,
  div.search-text {
    width: 45%;
    padding: 1em;
  }
  div.search-thumbnail img {
    max-width: 100%;
  }
  div.search-thumbnail {
    float: right;
  }
  div.search-text {
    float: left;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* Logo Styles
/*---------------------------------------------*/
/*
img[class^="logo-"]{
}
*/
img.logo-digitalocean {
  height: 1.15em;
  vertical-align: sub;
}
/* Media Queries
/*---------------------------------------------*/
/* Small Devices, Tablets */
@media only screen and (max-width: 912px) {
  .float-right,
  .float-left {
    max-width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  .float-right {
    padding-left: 0;
  }
  img.main-banner {
    margin: 0 auto;
  }
  .inner {
    width: 85%;
  }
  .inner img {
    max-width: 100%;
  }
  #header h1 a {
    font-size: 1em;
  }
  #header #menu-icon {
    display: inline-block;
  }
  #header nav a {
    color: #080a09;
  }
  #header nav a:hover {
    color: #434a54;
  }
  #header nav ul,
  nav:active ul,
  #menu {
    opacity: 0;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    left: -100px;
    top: 100px;
    width: -webkit-calc(65vw);
    width: calc(65vw);
    border-radius: 4px 0 4px 4px;
    z-index: 9999;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    pointer-events: none;
  }
  #header nav li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: 30px;
  }
  div.callout {
    max-width: 900px;
    margin: 0 auto;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    overflow: auto;
    padding: 0.5em 0;
  }
  div.callout > p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  div.callout a {
    color: #fff;
    text-decoration: underline;
  }
  /*
    TODO: Why is the order here off? 
    Also, look into writing this programmatically with LESS, or something.
  */
  #header nav li:nth-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  #header nav li:nth-child(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
  #header nav li:nth-child(2) {
    -webkit-transition-delay: 0.1;
    transition-delay: 0.1;
  }
  #header nav li:nth-child(4) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  #header nav li:nth-child(5) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  #header nav li:nth-child(6) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  #header nav li:nth-child(7) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  #header nav li:nth-child(8) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  #header nav #menu-toggle:checked ul,
  #menu-toggle:checked + #menu {
    opacity: 1;
    left: 0;
    pointer-events: all;
  }
  #header nav #menu-toggle:checked + #menu li {
    margin-left: 0;
    opacity: 1;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .inner {
    width: 85%;
  }
  #header {
    margin-bottom: 30px;
  }
  #header h1 a {
    font-size: 1em;
  }
}
